.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
/public/
/resources/
.DS_Store
Thumbs.db
*.gpx
content/post/2021-08-15-fantasy-football-draft/draft_order.csv
content/post/2021-08-15-fantasy-football-draft/draft_order.xlsx
